
build/thesis.aux
build/thesis.bbl
build/thesis.blg
build/thesis.fdb_latexmk
build/thesis.fls
build/thesis.log
build/thesis.out
build/thesis.pdf
build/thesis.synctex.gz
build/thesis.toc
build/thesis.bcf
build/thesis.run.xml
*.aux
